@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/PerfilDocente/massList.js"></script>
    <script src="~/Angularjs/Components/PerfilDocente/massCreate.js?1.3"></script>
    <script src="~/Angularjs/Components/PerfilDocente/massEdit.js"></script>
 }
@{
    ViewBag.Title = "Perfil Docente";
}
<div ng-view></div>

