
@{
    Layout = null;
}
<div class="container" style="margin-top:2%">
    <input type="button" value="Nuevo" ng-click="vm.massCreate()" class="btn btn-link"/>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="col-sm-12">
                <label for="unidad">Unidad</label><select class="form-control" ng-options="i.Id as i.Nombre for i in vm.listUnidades" ng-model="vm.entidad.UnidadId" ng-change="vm.changeUnidad()"></select>
            </div>
            <div class="col-sm-12">
                <label for="departamento">Departamento</label><select class="form-control" ng-options="i.Id as i.Nombre for i in vm.listDepartamentos" ng-model="vm.entidad.DepartamentoId" ng-change="vm.changeDepartamento()"></select>
            </div>
            <div class="col-sm-12">
                <label for="programaeducativo">Programa Educativo</label><select class="form-control" ng-options="i.Id as i.Nombre for i in vm.listProgramasEducativos" ng-model="vm.entidad.ProgramaEducativoId" ng-change="vm.changeProgramaEducativo()"></select>
            </div>
            <div class="col-sm-12">
                <label for="maestro">Maestro</label><select class="form-control" ng-options="i.Id as i.Nombre for i in vm.listMaestros" ng-model="vm.entidad.MaestroId" ng-change="vm.changeMaestro()"></select>
            </div>
        </div>
        <div class="col-sm-12 col-md-8">
            <div class="row" style="margin-top:2%">
                <div class="col-sm-12 col-md-6">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td><b>Materias Para el Maestro</b></td>
                        </tr>
                        <tr ng-repeat="i in vm.listMateriasMaestro" style="cursor:pointer">
                            <td>{{i.Nombre}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>        
    </div>
</div>
