
@{
    Layout = null;
}
<form class="container" name="form">
    <h2>Agregar Maestro</h2>
    <div class="row">
        <label class="col-sm-12 col-md-1">Nombre</label>
        <input type="text" ng-model="vm.entidad.Nombre" class="form-control col-sm-12 col-md-11" name="nombre" capitalize required /><label style="color:red;" ng-show="form.nombre.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Unidad</label>
        <select name="unidadid" ng-model="vm.entidad.UnidadId" ng-options="i.Id as i.Nombre for i in vm.listUnidades" class="form-control col-sm-12 col-md-10" ng-change="vm.changeUnidad()" required></select>
        <label style="color:red;" ng-show="form.unidadid.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Departamento</label>
        <select name="departamentoid" ng-model="vm.entidad.DepartamentoId" ng-options="i.Id as i.Nombre for i in vm.listDepartamentos" class="form-control col-sm-12 col-md-10" ng-change="vm.changeDepartamento()" required></select>
        <label style="color:red;" ng-show="form.departamentoid.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Programa Educativo</label>
        <select name="programaeducativoid" ng-model="vm.entidad.ProgramaEducativoId" ng-options="i.Id as i.Nombre for i in vm.listProgramasEducativos" class="form-control col-sm-12 col-md-10" required></select>
        <label style="color:red;" ng-show="form.programaeducativoid.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Nombramiento</label>
        <select name="nombramientoid" ng-model="vm.entidad.NombramientoId" ng-options="i.Id as i.Nombre for i in vm.listNombramientos" class="form-control col-sm-12 col-md-10" required></select>
        <label style="color:red;" ng-show="form.nombramientoid.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Contrato</label>
        <input type="text" ng-model="vm.entidad.Contrato" class="form-control col-sm-12 col-md-10" name="contrato" capitalize required /><label style="color:red;" ng-show="form.contrato.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Contrato Confidencial</label>
        <textarea ng-model="vm.entidad.ContratoConfidencial" class="form-control col-sm-12 col-md-10" name="contratoconfidencial" capitalize required style="max-height:200px"></textarea><label style="color:red;" ng-show="form.contratoconfidencial.$error.required"> *</label>
    </div><br />
    <div class="row">
        <label class="col-sm-12 col-md-2">Disponibilidad</label>
        <textarea ng-model="vm.entidad.Disponibilidad" class="form-control col-sm-12 col-md-10" name="disponibilidad" capitalize required style="max-height:200px"></textarea><label style="color:red;" ng-show="form.disponibilidad.$error.required"> *</label>
    </div><br />
    <div class="row">
        <input type="button" class="btn btn-success" value="Guardar" ng-click="vm.guardar()" ng-show="(!form.nombre.$error.required&&!form.unidadid.$error.required&&!form.programaeducativoid.$error.required&&!form.departamentoid.$error.required&&!form.contrato.$error.required&&!form.contratoconfidencial.$error.required&&!form.nombramientoid.$error.required&&!form.disponibilidad.$error.required)" />
        <input type="button" class="btn btn-default" value="Regresar" ng-click="vm.list()" />
    </div>
</form>
