@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/Maestro/massCreate.js?1.2"></script>
    <script src="~/Angularjs/Components/Maestro/massEdit.js?1.2"></script>
 }
@{
    ViewBag.Title = "Materias";
}
<div ng-view></div>

