@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/Modulo/massCreate.js?1.4"></script>
    <script src="~/Angularjs/Components/Modulo/massEdit.js?1.5"></script>
 }
@{
    ViewBag.Title = "Modulos";
}
<div ng-view></div>

