@section scripts{       
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/Materia/massCreate.js"></script>
    <script src="~/Angularjs/Components/Materia/massEdit.js"></script>
 }
@{
    ViewBag.Title = "Materias";
}
<div ng-view></div>

