@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/GrupoDisponibilidad/massList.js?1.6"></script>
    <script src="~/Angularjs/Components/GrupoDisponibilidad/massCreate.js?1.7"></script>
    <script src="~/Angularjs/Components/GrupoDisponibilidad/massEdit.js?1.4"></script>
}
@{
    ViewBag.Title = "Disponibilidad de Grupos";
}
<div ng-view></div>

