@section scripts{
<script src="~/Angularjs/crud.js"></script>
<script src="~/Angularjs/Components/ProgramaEducativoDetalle/massList.js"></script>
<script src="~/Angularjs/Components/ProgramaEducativoDetalle/massCreate.js?1.2"></script>
 }
@{
    ViewBag.Title = "Programa Edicativo Detalle";
}
<div ng-view></div>

