@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/Programa Educativo/massCreate.js"></script>
    <script src="~/Angularjs/Components/Programa Educativo/massEdit.js"></script>
 }
@{
    ViewBag.Title = "Programas Educativos";
}
<div ng-view></div>

