@section scripts{
    <script src="~/Angularjs/crud.js"></script>
    <script src="~/Angularjs/Components/Departamento/massEdit.js"></script>
}
@{
    ViewBag.Title = "Departamentos";
}
<div ng-view></div>

